# GitHub Actions workflow for applying Terraform upon PR merge into the main branch.

name: Terraform Apply on Approved PR  # Descriptive title for this action set.

on:
  pull_request:
    types: [closed]  # Triggered only when a PR is closed.

jobs:
  terraform:
    runs-on: ubuntu-latest  # Runs on the latest version of Ubuntu.

    # Limits the action with conditions to apply only on PR merge into the main branch.
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'

    # Set Bash as the shell for consistent execution across different platforms.
    defaults:
      run:
        shell: bash

    steps:
    # Clones the repository to the GitHub Actions runner.
    - name: Checkout
      uses: actions/checkout@v3

    # Sets up Terraform with necessary configurations and credentials.
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    # Initializes the Terraform working directory.
    - name: Terraform Init
      run: terraform init
      env:
        GOOGLE_CREDENTIALS: ${{secrets.GCP_SA_KEY}}

    # Formats Terraform configuration files.
    - name: Terraform Format
      run: terraform fmt
      env:
        GOOGLE_CREDENTIALS: ${{secrets.GCP_SA_KEY}}

    # Applies Terraform changes upon PR merge into the main branch.
    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false
      env:
        GOOGLE_CREDENTIALS: ${{secrets.GCP_SA_KEY}}